@use '../../css/variables.scss' as *;
  select {
    border: 1.5px solid $text-color;
    padding: 4px 20px;
    font-family: $primary-font;
    border-radius: 8px;
    box-shadow: $box-shadow;
    font-size: 1rem;
    font-weight: 400;
    width: fit-content;

    option {
      color: #333;
      font-size: 0.875rem;
    }
  }