@use '../../css/variables.scss' as *;
.container{
    height: 100vh;
    background-color: $gray;
    padding: 40px 80px;
}
@media($tablet){
    .container{
        padding: 20px 40px;
    }
}