@use '../../../css/variables.scss' as *;
.form{
    background-color: $white;
    border-radius: 10px;
    box-shadow: -2px 4px 9px $gray;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 60px 40px;
    font-family: $primary-font;
    box-shadow:  $box-shadow;
    img{
        width: 200px;
    }
}

@media($tablet){
    .form{
        padding: 20px ;
        
        h1{
            font-size:  2rem;
        }
    }
}